<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>/project/*/library</string>
		<key>Key</key>
		<string>patterns</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Include patterns (comma separated)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
